.App {
  text-align: center;
  flex-direction: column;
  align-content: center;
  width: 100%;
}

.top{
  align-content: center;
  margin-top: 75px;
}

.middle{
  flex-direction: row;
  padding: 50px;
}

.bottom{
  align-content: center;
}

.controlButtons{
  width: 40%;
  height: 20%;
}



